
<% if session[:u_id].present? %>


<script type="text/javascript">

$(document).ready(function() {
  $(".alert-info").fadeOut(5000, "linear");
});


</script>



<% if notice.present? %>
<div class="alert alert-info"><%= notice %></div>
<% end %>



<%= form_tag tasks_url, method: 'post', class: "form-inline" do %>

      <% user = User.find_by(id: session[:u_id]) %>
      <%= hidden_field_tag :user_id, user.id  %>



      <div class="form-group" id="task_input">
        <label class="sr-only" for="content"></label>
        <%= text_field_tag 'content', nil, placeholder: "#{user.username}, what do you want to smash today?", class: "form-control" %>
      </div>

    <div class="form-group">
      <div class="checkbox">
      <label for = "important">IMPORTANT</label>
      <input id = "important" type = "checkbox" name = "important">
      </div>
    </div>

    <button type="submit" class="btn btn-default">Add new task</button>





<% end %>







<!--   <div class="row">

    <div class="col-md-4" id="headline_l"><h3><%= link_to "ADD NEW TASK", new_task_url  %></h3></div>


    <div class="col-md-4" id="headline_c"><h3><%= link_to "IMPORTANT TASKS", "/tasks?sort=important" %></h3></div>


    <div class="col-md-4" id="headline_r"><h3><%= link_to "SMASHED  TASKS", archivedtasks_url %></h3></div>

  </div> -->




<div class="row">

  <div class="col-md-12">


      <table class = "table borderless" id = "task_table">

<!--       <tr>
      <th></th>
      <th id="task_content">TASK</th>
      <th>OWNER</th>
      <th>IMPORTANT</th>
      <th></th>
      <th></th>
      </tr> -->


      <%  @tasks.each do |task| %>
      <tr id="task_<%= task.id %>">

      <td class="center" id="smash_task">


       <!--  <button type="button" class="btn btn-success btn-sm btn-block"><%= link_to "SMASH", archive_task_url(task.id), method: :delete %></button> -->
        <%= link_to '<i class="fa fa-circle-o fa-2x"></i>'.html_safe, archive_task_url(task.id), method: :delete %>

      </td>

      <td class="task" id="task_content"><%= task.content %></td>

    <!--   <td><%= task.owner %></td> -->

      <td><%= task.important %></td>

      <td class="center">

  <!--  <button type="button" class="btn btn-danger btn-sm btn-block"><%= link_to "DELETE", task_url(task.id), method: 'delete' %></button> -->

             <%= link_to '<i class="fa fa-trash-o fa-2x"></i>'.html_safe, task_url(task.id), method: 'delete', remote: true %>

      </td>


      <td class="center"><button type="button" class="btn btn-info btn-sm btn-block"><%= link_to "EDIT", edit_task_url(task.id) %></button></td>
      </tr>

      <% end %>

      </table>

  </div>


<!--   <div class="col-md-3">


        <h2>Open tasks: <%= @tasks.count %></h2>

        <h2>Important tasks: <%= @count_important_tasks %></h2>

  </div> -->

  <div class="row">

    <div class="col-md-6">

      <h2 class="center_align">Open tasks: <%= @tasks.count %></h2>

    </div>

    <div class="col-md-6">

      <h2 class="center_align">Important tasks: <%= @count_important_tasks %></h2>

    </div>

  </div>


</div>

<% else %>

<% redirect_to 'tasks/welcome' %>

<% end %>




