
  <div class="row">

    <div class="col-md-4" id="headline_l"><h3><%= link_to "ADD NEW TASK", new_task_url  %></h3></div>

    <div class="col-md-4 col-md-offset-1" id="headline_r"><h3><%= link_to "SMASHED  TASKS", archivedtasks_url %></h3></div>

  </div>




<div class="row">

  <div class="col-md-9">


      <table class = "table table-bordered">

      <tr>
      <th></th>
      <th>TASK</th>
      <th>OWNER</th>
      <th>IMPORTANT</th>
      <th></th>
      <th></th>
      </tr>


      <%  @tasks.each do |task| %>
      <tr>

      <td class="center"><button type="button" class="btn btn-success btn-sm btn-block"><%= link_to      "SMASH", archive_task_url(task.id) %></button></td>

      <td><%= link_to task.content, task_url(task.id) %></td>

      <td><%= task.owner %></td>

      <td><%= task.important %></td>

      <td class="center">

        <button type="button" class="btn btn-danger btn-sm btn-block"><%= link_to "DELETE", task_url(task.id), method: 'delete' %></button>

      </td>


      <td class="center"><button type="button" class="btn btn-info btn-sm btn-block"><%= link_to "EDIT", edit_task_url(task.id) %></button></td>
      </tr>

      <% end %>

      </table>

  </div>


  <div class="col-md-3">

        <h2>Open tasks: <%= @tasks.count %></h2>

        <h2>Important tasks: <%= @count_important_tasks %></h2>

  </div>


</div>



