
<% if session[:u_id].present? %>

<!-- <h4>Number of smashed tasks: <%= @archivedtasks.count %></h4> -->

<table class = "table borderless">




<%  @archivedtasks.each do |a| %>

<tr id="archivedtask_<%= a.id %>">


<td class="center" id="done_task">

  <%= link_to '<i class="fa fa-check-circle-o fa-2x"></i>'.html_safe, undo_archivedtask_url(a.id), method: 'delete' %>


<!--   <button type="button" class="btn btn-success btn-sm btn-block"><%= link_to "UNDO", undo_archivedtask_url(a.id) %></button> -->

</td>


<td class="task" id="done_content"><%= a.content %></td>
<!-- <td><%= a.owner %></td>
<td><%= a.important %></td> -->

</tr>

<% end %>

</table>


<% else %>

<% redirect_to 'tasks/welcome' %>

<% end %>
