


<h1>SMASHED TASKS</h1>

<h3><%= link_to "Go back home", tasks_url %></h3>

<h4>Number of smashed tasks: <%= @archivedtasks.count %></h4>

<table class = "table table-bordered">

<tr>
<th></th>
<th>TASK</th>
<th>OWNER</th>
<th>IMPORTANT</th>
</tr>


<%  @archivedtasks.each do |a| %>
<tr>


<td class="center"><button type="button" class="btn btn-success btn-sm btn-block"><%= link_to "UNDO", undo_archivedtask_url(a.id) %></button></td>


<td><%= a.content %></td>
<td><%= a.owner %></td>
<td><%= a.important %></td>
</tr>

<% end %>

</table>


