<!DOCTYPE html>
<html>
<head>
  <title>TASKSMASHR</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


</head>



<body>

  <div class="container">

  <header>
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/tasks">TASKSMASHR  <i class="fa fa-gavel"></i></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <% if session[:u_id].present? %>
       <% user = User.find_by(:id => session[:u_id]) %>
       <li><%= link_to user.username ,edit_user_url(user.id) %></li>
       <li><%= link_to "Logout", root_url %></li>

       <% else %>

       <li><%= link_to "Login", login_url %></li>

      <% end %>



    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

  </header>


  <%= yield %>


  </div>


</body>
</html>
